.content {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;

    .content_target {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        display: grid;
        gap: 1rem 2rem;
    }
}

@media screen and (max-width: 800px) {
    .content {
        .content_target {
            grid-template-columns: repeat(2, minmax(0, 1fr));

            * {
                font-size: 0.5rem;
            }
        }
    }
}